body{
    color: white;
    background-image: url(./images/bg.png);
    background-repeat: repeat;
    font-family: 'Times New Roman', Times, serif;
}

div{
    background-image: url(./images/wrapperbg.png);
    background-repeat: no-repeat;
    background-size: fixed;
    margin-left: 30%;
    margin-top: 13%;
}

.kasten{
    word-wrap: break-word;
    margin: 25px;
    margin-top: 10px;
    position: relative;
}

#Busch{
    position:relative;
    margin-left: -5%;
    margin-top: -5%;
}

#Pinguin{
    position:relative;
    margin-left: 45%;
    margin-top: -3%;
}