body{
    color: white;
    background-image: url(./images/bg.png);
    background-repeat: repeat;
    font-family: 'Times New Roman', Times, serif;
}

.alles{
    background-image: url("images/wrapperbg.png");
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.kasten{
    word-wrap: break-word;
    margin: 25px;
    margin-top: 10px;
    position: relative;
}

#Busch{
    position:relative;
    margin-left: -5%;
    margin-top: -5%;
}

#Pinguin{
    position:relative;
    left: 500px;
    top: -3px;
}