body{
    background-color: #eeeeee;
    font-family: sans-serif;
}

.insgesamt{
    position: absolute;
    left:50%;
    top: 15px;
    transform: translate(-50%);
    background-color: #cdddd9;
    width: 750px;
    height: fit-content;
    border-radius: 20px;
}

.heading{
    font-family: sans-serif;
    font-size: 36px;
    position: relative;
    left: 50px;
    color: #585858;
}

.total{
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    left: 25px;
    color: #585858;
}

#input{
    font-family: sans-serif;
    font-size: 20px;
    color: #585858;
    position: relative;
    border-radius: 7px;
    padding-left: 7px;
    left: 20px;
    right: 20px;
    width: 710px;
    background-color: #eeeeee;
}

#addtaskbutton{
    position: relative;
    bottom:33px;
    right:-710px;
    color: #aec7c1;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    color: #585858;
    position: relative;
    border-radius: 7px;
    padding-left: 7px;
    left: 20px;
    right: 20px;
    width: 710px;
    background-color: #eeeeee;
}

.eingabefeldtext{
    position: absolute;
    color: #aaffaa;
    font-family: 'Times New Roman', Times, serif;
}