body{
    background-image: url(./images/bg.png);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Kasten{
    background-image: url("images/wrapperbg.png");
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.Titel{
    margin: 25px;
    border: 50px;
    position: relative;
}

img[alt="Stern 1"]{
    top: 75px;
    left: 350px;
    border-bottom: 25px;
    position: relative;
}

img[alt="Stern 2"]{
    bottom: 25px;
    left: 150px;
    border-bottom: 50px;
    position: relative;
}

img[alt="Stern 3"]{
    top: 75px;
    right: 50px;
    position: relative;
}

img[alt="Stern 4"]{
    bottom: 25px;
    left: 225px;
    border-bottom: 50px;
    position: relative;
}

img:hover{
    background-image: url(./images/stern_hover.png);
}