body{
    background-image: url(./images/bg.png);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Kasten{
    background-image: url(./images/wrapperbg.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 200px;
    margin-left: 400px;
}

.Titel{
    margin: 25px;
    border: 50px;
    position: relative;
}

img[alt="Stern 1"]{
    margin-top: 100px;
    margin-left: 75px;
    border-bottom: 25px;
    position: relative;
}

img[alt="Stern 2"]{
    margin-bottom: 100px;
    margin-left: 90px;
    border-bottom: 50px;
    position: relative;
}

img[alt="Stern 3"]{
    margin-top: 100px;
    margin-right: 90px;
    position: relative;
}

img[alt="Stern 4"]{
    margin-bottom: 100px;
    margin-right: 75px;
    border-bottom: 50px;
    position: relative;
}

.container:hover .overlay{
    image: url(./images/stern_hover.png);
}