body{
    background-image: url(./images/bg.png);
    background-repeat: repeat;
    color: white;
    font-family: Jellyka_Font;
    src: url(./fonts/Jellyka_Delicious_Cake.ttf);
}

@font-face {
    font-family: Jellyka_Font;
    src: url(./fonts/Jellyka_Delicious_Cake.ttf);
}

.text{
    background-image: url(./images/wrapperbg.png);
    background-repeat: no-repeat;
    font-family: Jellyka_Font;
    position: absolute;
    width: 600px;
    height: 400px;
    margin: 0;
    top: 50%;
    left: 50%;
    border-left: 50px;
    transform: translate(-50%, -50%);
}

.written{
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
}
