body{
    background-color: #111111;
}

.container{
    position: absolute;
    height: 460px;
    width: 460px;
    top: 5px;
    left:50%;
    transform: translate(-50%); 
}

#box1{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#555fff, #000fff);
    border-radius: 10px;
    left:0px;
    top:0px;
}

#box1:hover{
    background-image: linear-gradient(#000fff, #555fff);
}

#box2{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#555fff, #000fff);
    border-radius: 10px;
    left:155px;
    top:0px;
}

#box2:hover{
    background-image: linear-gradient(#000fff, #555fff);
}

#box3{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#555fff, #000fff);
    border-radius: 10px;
    right:0px;
    top:0px;
}

#box3:hover{
    background-image: linear-gradient(#000fff, #555fff);
}

#box4{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#ff5088, #ff2244);
    border-radius: 10px;
    left:0px;
    top:155px;
}

#box4:hover{
    background-image: linear-gradient(#ff2244, #ff5088);
}

#box5{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#ff5088, #ff2244);
    border-radius: 10px;
    left:155px;
    top:155px;
}

#box5:hover{
    background-image: linear-gradient(#ff2244, #ff5088);
}

#box6{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#ff5088, #ff2244);
    border-radius: 10px;
    right:0px;
    top:155px;
}

#box6:hover{
    background-image: linear-gradient(#ff2244, #ff5088);
}

#box7{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#ff5088, #ff2244);
    border-radius: 10px;
    left:0px;
    top:310px;
}

#box7:hover{
    background-image: linear-gradient(#ff2244, #ff5088);
}

#box8{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#f77f22, #f44f22);
    border-radius: 10px;
    left:155px;
    top:310px;
}

#box8:hover{
    background-image: linear-gradient(#f44f22, #f77f22);
}

#box9{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#f77f22, #f44f22);
    border-radius: 10px;
    right:0px;
    top:310px;
}

#box9:hover{
    background-image: linear-gradient(#f44f22, #f77f22);
}

.playButton{
    position: absolute;
    margin:0;
    top:537.5px;
    left:50%;
    transform: translate(-50%,-50%); 
}

.navbar{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #dddddd;
}